<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="editCredential">
    <div class="modal fade" id="editCredentialModal" tabindex="-1" role="dialog" aria-labelledby="editCredentialModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="credentialModalLabel">Contact</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="#" th:action="@{/contact}" th:method="PUT">
                        <input type="hidden" name="contactId" id="editContact-id">
                        <input type="hidden" name="key" id="editContact-key">
                        <div class="form-group">
                            <label for="editContact-firstname" class="col-form-label">Firstname</label>
                            <input type="text" name= "firstname" class="form-control" id="editContact-firstname" maxlength="100" required>
                        </div>
                        <div class="form-group">
                            <label for="editContact-lastname" class="col-form-label">Lastname</label>
                            <input type="text" name= "lastname" class="form-control" id="editContact-lastname" maxlength="30" required>
                        </div>
                        <div class="form-group">
                            <label for="editContact-email" class="col-form-label">Email</label>
                            <input type="text" name= "email" class="form-control" id="editContact-email" maxlength="30" required>
                        </div>
                        <div class="form-group">
                            <label for="editContact-phoneNumber" class="col-form-label">phone number</label>
                            <input type="number" name= "phoneNumber" class="form-control" id="editContact-phoneNumber" maxlength="30" required>
                        </div>
                        <div class="form-group">
                            <label for="editContact-password" class="col-form-label">Password</label>
                            <input type="text" name= "password" class="form-control" id="editContact-password" maxlength="30" required>
                        </div>
                        <div class="form-group">
                            <label for="editContact-dateOfBirth" class="col-form-label">Date Of Birth</label>
                            <input type="date" name= "dateOfBirth" class="form-control" id="editContact-dateOfBirth" maxlength="30" required>
                        </div>
                        <button id="editContactSubmit" type="submit" class="d-none"></button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="editCredentialInteractive" th:if="${isAuthenticated}" onclick="$('#editContactSubmit').click();">Edit Contact</button>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
