<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="createContact">
    <div class="modal fade" id="credentialModal" tabindex="-1" role="dialog" aria-labelledby="credentialModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="credentialModalLabel">Contact</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="#" th:action="@{/contact}" method="POST">
                        <input type="hidden" name="contact-id" id="contact-id">
                        <div class="form-group">
                            <label for="contact-firstname" class="col-form-label">Firstname</label>
                            <input type="text" name= "firstname" class="form-control" id="contact-firstname" maxlength="100" required>
                        </div>
                        <div class="form-group">
                            <label for="contact-lastname" class="col-form-label">Lastname</label>
                            <input type="text" name= "lastname" class="form-control" id="contact-lastname" maxlength="100" required>
                        </div>
                        <div class="form-group">
                            <label for="contact-email" class="col-form-label">Email</label>
                            <input type="text" name= "email" class="form-control" id="contact-email" maxlength="100" required>
                        </div>
                        <div class="form-group">
                            <label for="contact-phoneNumber" class="col-form-label">Phone Number</label>
                            <input type="number" name= "phoneNumber" class="form-control" id="contact-phoneNumber" maxlength="100" required>
                        </div>
                        <div class="form-group">
                            <label for="contact-password" class="col-form-label">Password</label>
                            <input type="text" name= "password" class="form-control" id="contact-password" maxlength="30" required>
                        </div>
                        <div class="form-group">
                            <label for="contact-dateOfBirth" class="col-form-label">Date Of Birth</label>
                            <input type="date" name= "dateOfBirth" class="form-control" id="contact-dateOfBirth" maxlength="100" required>
                        </div>
                        <button id="contactSubmit" type="submit" class="d-none"></button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="createCredentialInteractive" onclick="$('#contactSubmit').click();">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
